* {

  background-color: #f3f3f3;
  z-index: 1;
}

.name-bar img {
  width: 85px;
  z-index: 999;
  background-color: #f0faff;
  margin-top: 10px;

}

.name-bar {
 background-color: #f0faff;
 height: 8.5vh;
 padding-bottom: 15px;
 border-bottom-right-radius: 25px;
 display: flex;
 align-items: center ;
 padding-top: 5px;
}

.name-bar p {
  background-color: #f0faff;
  color: rgb(68, 68, 68);
  font-size: 35px;
  margin-left: 10px;
}

.menu-bar {
  background-color: white;
  width: 350px;
  height: 100vh;
  z-index: 5;
}