* {

  background-color: #f3f3f3;
  z-index: 1;

}

.prepost {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  
  width: 450px;
  height: 200px;
  border-radius: 10px;
  background-color: white;
  margin-top: 10px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.remove {
  display: none;
}
.logbutton{
  display: block;
}